<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796878510838-2rsh4mh9rihsnep948pb98bn236eh03e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796878510838-2rsh4mh9rihsnep948pb98bn236eh03e</string>
	<key>API_KEY</key>
	<string>AIzaSyBWAJ2hPpDf3zCS9Vu8ZrgISx_jUjPqvPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>796878510838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scoutu.scoutu-app</string>
	<key>PROJECT_ID</key>
	<string>scoutu-6640b</string>
	<key>STORAGE_BUCKET</key>
	<string>scoutu-6640b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796878510838:ios:c27d979fcadae0a6f7aad7</string>
	<key>DATABASE_URL</key>
	<string>https://scoutu-6640b-default-rtdb.firebaseio.com</string>
</dict>
</plist>